bin/
obj/
*.dll
*.pdb
*.cfg
LogOutput.log
tools/__pycache__/
UnityAnims/Library/
UnityAnims/Temp/
UnityAnims/Logs/
UnityAnims/UserSettings/
UnityAnims/Build/
UnityAnims/obj/
CameraShaders/Library/
CameraShaders/Temp/
CameraShaders/Logs/
CameraShaders/UserSettings/
CameraShaders/Build/
CameraShaders/ProjectSettings/*.asset
Models/*.manifest
Models/Models
UnityAnims/Assets/Clips/
UnityAnims/Assets/Mixamo/*.fbx
UnityAnims/Assets/Mixamo/*.fbx.meta
*.csproj.user
tools/ClimbingAnims/Library/
tools/ClimbingAnims/Temp/
tools/ClimbingAnims/Logs/
tools/ClimbingAnims/UserSettings/
tools/ClimbingAnims/Build/
tools/ClimbingAnims/Assets/Clips/
tools/ClimbingAnims/Assets/Source/*.fbx
tools/ClimbingAnims/Assets/Source/*.fbx.meta
tools/config-file.txt
tools/get-button-down.txt
tools/input-controller.txt
tools/input-storage.txt
tools/key-action.txt
